@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700|Source+Sans+Pro:300,400,600,700");
:root {
  --font-heading: "PT Sans", sans-serif;
  --font-secondary: "Source Sans Pro", sans-serif;
  --color-primary: #b80257;
  --color-secondary: #783df0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-secondary);
  font-size: 1.5rem;
  line-height: 1.42857143;
  color: rgba(0, 0, 0, 0.7);
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  color: inherit;
}

input,
textarea,
button,
select {
  outline: none;
  font-size: inherit;
  font-family: inherit;
}

img {
  max-width: 100%;
  max-height: 100%;
  transition: all ease 0.3s;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  color: rgba(0, 0, 0, 0.8);
}
button {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* Top Page */
.top-page {
  background: linear-gradient(rgba(0, 0, 0, 0.6)),
    url(../img/banner-2.jpg) no-repeat center / cover;
}

.top-page .hero {
  height: 100%;
  color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24rem 0 19rem 0;
}

/* Header */
.header {
  font-family: var(--font-heading);
  display: flex;
  align-items: center;
  padding-top: 4rem;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.header .inner {
  display: flex;
  justify-content: space-between;
}

.header .header__logo img {
  height: 33px;
}

.header-right {
  display: flex;
  gap: 0.8rem;
}

.header-right .icon-show-more {
  display: none;
}

label[for="navbar-toggle"] {
  display: none;
}

/* Navbar */
.header .navbar {
  padding: 0 1.5rem;
}

.header .navbar > li {
  position: relative;
}

.header .navbar > li > .item-link > a {
  padding: 0.6rem 2.5rem 2rem;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  color: #fff;
  font-weight: 700;
  display: inline-block;
}

.header .navbar .sub-menu {
  position: absolute;
  width: 220px;
  background-color: #fff;
  top: 100%;
  left: 0;
  font-family: var(--font-secondary);
}

/* User action */
.user-action {
  display: flex;
  gap: 2.8rem;
  font-family: var(--font-secondary);
}
.user-action li {
  position: relative;
  height: 32px;
}

.user-action li > button {
  color: #fff;
  font-size: 1.8rem;
  line-height: 3.2rem;
}

.user-action .icon-cart {
  font-size: 2rem;
}

.user-action .form-search {
  position: absolute;
  width: 28rem;
  height: 55px;
  padding: 0.5rem;
  top: 100%;
  right: -2.8rem;
  box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.23);
  background-color: #fff;
  font-size: 1.4rem;
  display: none;
}

.user-action button label {
  cursor: pointer;
}

.user-action input[type="checkbox"]:checked ~ .form-search {
  display: block;
}

.user-action .form-search input {
  width: 100%;
  height: 100%;
  border: 1px solid #ececec;
  padding-right: 4.9rem;
  padding-left: 1rem;
  color: rgba(0, 0, 0, 0.7);
}
.user-action .form-search button {
  position: absolute;
  right: 0.5rem;
  top: 0.4rem;
  z-index: 2;
  background-color: var(--color-primary);
  width: 4.85rem;
  height: 4.6rem;
  color: #fff;
  border: 1px solid #fff;
}

/* Main Title */
.main-title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  font-family: var(--font-heading);
}

.main-title h1 {
  font-size: 3.2rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 3.52rem;
  color: #fff;
}

.main-title .breadcrumbs {
  display: flex;
}
.main-title .breadcrumbs li {
  display: flex;
}
.main-title .breadcrumbs li + li::before {
  content: "/";
  padding: 0 0.5rem;
}
.main-title .breadcrumbs a,
.main-title .breadcrumbs li {
  color: rgba(255, 255, 255, 0.8);
}

.main-title .breadcrumbs a:hover {
  color: var(--color-secondary);
}

/* Main content */
.main-content {
  margin-top: 11rem;
  margin-bottom: 10rem;
}

/* Footer */
.footer {
  background-color: #151515;
  padding: 8rem 0 16rem 0;
  color: rgba(255, 255, 255, 0.6);
}

.footer .footer-logo {
  font-size: 1.4rem;
}

.footer-app {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.footer-item h3 {
  color: #fff;
  font-size: 2rem;
  margin: 0.8rem 0 2.5rem 0;
  font-weight: 700;
}

.footer-list li a {
  display: inline-block;
  padding: 0.43rem 0;
}

.footer-list li a:hover {
  color: var(--color-primary);
}

.footer-description {
  margin: 2rem 0;
  line-height: 2.2rem;
}

.footer-subscribe input {
  width: 100%;
  height: 4rem;
  border: none;
  border-radius: 2rem;
  color: rgba(255, 255, 255, 0.6);
  background-color: #272727;
  padding: 0 2rem;
  margin: 2.5rem 0 1rem 0;
}

.footer-subscribe button {
  position: relative;
  overflow: hidden;
  letter-spacing: 1.5px;
  background: var(--color-primary);
  padding: 1.05rem 2.71rem;
  border-radius: 2rem;
  color: #fff;
  transition: 0.3s;
}

.footer-subscribe button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  border-radius: 2rem;
  transform: scale(0);
  transition: 0.3s;
}

.footer-subscribe button:hover::after {
  transform: scale(1);
}

.footer-subscribe button span {
  position: relative;
  z-index: 1;
}
.footer-subscribe button:hover {
  color: var(--color-primary);
}

.btn-scroll-top {
  width: 4rem;
  height: 4rem;
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  z-index: 99;
  color: #fff;
  background: var(--color-primary);
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1199.98px) {
  .header .navbar > li > .item-link > a {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (max-width: 991.98px) {
  .header .inner {
    position: relative;
  }
  .header__logo {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  .header .navbar {
    position: absolute;
    left: 0;
    top: calc(100% + 2rem);
    border: none;
    box-shadow: none;
    background: rgba(0, 0, 0, 0.9);
    padding: 0;
    max-height: 0;
    right: 0;
    overflow-y: auto;
    transition: all linear 0.3s;
  }

  #navbar-toggle:checked ~ .navbar {
    max-height: 40rem;
  }

  label[for="navbar-toggle"] {
    display: block;
    cursor: pointer;
    width: 2.6rem;
  }
  .header .navbar-toggle {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .header span.icon-bar {
    width: 2.6rem;
    background: #fff;
    display: inline-block;
    height: 0.2rem;
    border-radius: 0.1rem;
  }

  .header .navbar > li {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .header .navbar > li > .item-link {
    display: flex;
    justify-content: space-between;
  }
  .header .navbar > li > .item-link > a {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    line-height: 4.5rem;
    font-weight: normal;
    padding: 0 0 0 1.5rem;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .header-right .icon-show-more {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    color: #fff;
    cursor: pointer;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-color: rgba(255, 255, 255, 0.15);
    font-size: 1.8rem;
  }

  .header .navbar .sub-menu {
    position: relative;
    width: 100%;
    max-height: 0;
    transition: all ease 1s;
    overflow: hidden;
  }

  .header .navbar input[type="checkbox"]:checked ~ .sub-menu {
    max-height: 705px;
  }

  .header .navbar .sub-menu li a {
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.6);
    line-height: 4.5rem;
    text-transform: capitalize;
    display: block;
    padding: 0 0 0 2.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease-in-out;
  }
  .header .navbar .sub-menu li a:hover {
    padding-left: 2.9rem;
    color: #fff;
    background-color: var(--color-primary);
  }

  .footer-row-inner {
    row-gap: 6rem;
  }
}

@media (max-width: 575.98px) {
  .top-page .hero {
    padding: 20rem 0 12rem 0;
  }
}

@media (min-width: 992px) {
  .header .navbar {
    display: flex;
  }
  .header .navbar > li > .item-link > a:hover {
    color: var(--color-primary);
  }

  .header .navbar .sub-menu {
    box-shadow: 0px 13px 25px -12px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
    transform: scaleY(0);
    transform-origin: 100% 2%;
    opacity: 0;
    visibility: hidden;
  }
  .header .navbar > li:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
  }

  .header .navbar .sub-menu a {
    display: block;
    padding-left: 2.5rem;
    line-height: 4.5rem;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.6rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    text-transform: capitalize;
  }

  .header .navbar .sub-menu a:hover {
    color: #fff;
    background-color: var(--color-primary);
    padding-left: 2.9rem;
  }
}
